body {
    margin-top:80px;
    background:url(oldlace1.png);
    background-color:oldlace;
}

#header {
    text-align:center;
    text-shadow: 1px 1px; #202020;

}
.taskoverview {
    width:60%;
    margin:0 auto;
}
.about {
    width:60%;
    height:60%;
    margin:auto;
    margin-top:14px;
}
.jumbotron {
    background-color:oldlace;
}
.outer {
    display:inline;
    margin:8px 8px 8px 8px;
}

.singletask {
    margin-top:8px;
    background-color:oldlace;
    padding:8px;
    border-radius:6px 6px 6px 8px;
    border-style:solid;
    border-width:0.8px;
    border-color:#faf8eb;
    width:70%;
    margin:auto;
    box-shadow: 1px 1px 2px #81afa2 inset;
}

.taskstatus {
    text-align:center;
    font-weight:bold;
    color:#121212;
    font-size:1.3em;
    line-height:3em;
}
