body {
    margin-top:80px;
    background:url(oldlace1.png);
    background-color:oldlace;
}

#header {
    text-align:center;
    text-shadow: 1px 1px; #202020;

}
.about {
    width:60%;
    height:60%;
    margin:auto;
    margin-top:14px;
}
.jumbotron {
    background-color:oldlace;
}
