{{define "about"}}
{{template "layout".}}
<h2 id="header">About</h2>
<div class="about">
<div class="jumbotron">
  <p>Days - A simple Dayplanner implemented in</p>
  <p>Go and Javascript</p>
</div>
</div>
{{end}}
