{{define "edittask"}}
{{template "layout" .}}
<div class="container">
  <h2 id="header">Edit Task</h2>
  <div class="taskform">
  <form class="form-horizontal" action="/updatetask" method="post">
    <fieldset>
      <div class="content">
        <div class="control-group">
          <label class="control-label" for="textinput">Task Summary</label>
          <div class="controls">
            <input required id="textinput" name="formsummary"  class="form-control" type="text" value={{.Summary}}>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="tarea">Task Contents</label>
          <div class="controls">
            <textarea required class="form-control" name="formcontent" value={{.Content}} id="tarea" rows="5">{{.Content}}</textarea>
          </div>
        </div>
        <div class="control-group">
          <label for="scheduled" class="control-label">Scheduled</label>
          <div class="controls">
            <input  class="datepicker" name="formscheduled" value={{.Scheduled}} />
          <p class="glyphicon glyphicon-calendar"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="checkbox">
            <label>
              <input type="checkbox"  name="taskstatus" />Done</label></div></div>
          <div class="controls">
            <input type="hidden" value={{.Taskid}} name="taskid"/>
            <button id="savebutton" name="submitbutton" class="btn btn-default">Submit</button>
            <button class="btn btn-danger" id="deletebutton" name="submitbutton" value="delete">Delete</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  </div>
</div>
</div>
{{end}}
