{{define "index"}}
{{template "layout" .}}
<header>
  <h2 id="header">Days - Do All Your Stuff!</h2>
</header>
<div class="row">
  <div class="col-md-3">
      <div class="aghead">
        <h3><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Agenda<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h3>
</div>
    <div class="agenda">
</div>
</div>
<div class="col-md-9">
<div class="taskoverview">
  {{range .tasks}}
  <div class="outer">
  <div id="singletask" class="singletask">
      <!-- <div class="taskstatus" id="taskstatus">
         <p class="statustext" id={{.Id}}>{{.Status}}</p>
         </div> -->
    <div class="tasksummary">
      <h4 id={{.Id}} class="header">{{.Summary}}</h4>
    </div>
    <div class="taskinfo">
    <div class="taskcontent">
      <pre>{{.Content}}</pre>
    </div>
    <div class="scheduled">
      <p id="scheduleddate" class="scheduleddate">{{.Scheduled}}</p>
    </div>
    <form action="/edittask" method="post">
      <input type="hidden" id="hiddenid" value={{.Id}} name="taskid"/>
      <div class="taskinline">
        <input type="submit" value="Edit Task" class="btn btn-default"/>
      </div>
    </form>
    </div>
  </div>
</div>
  {{end}}
</div>
</div>
</div>
{{end}}
