{{define "index"}}
{{template "layout" .}}
<header>
  <h2 id="header">Days - Do All Your Stuff!</h2>
</header>
<div class="taskoverview">
  {{range .tasks}}
  <div class="outer">
  <div id="singletask" class="singletask">
    <div class="taskstatus" id="taskstatus">
      <p class="statustext">{{.Status}}</p>
    </div>
    <div class="tasksummary">
      <h4 id={{.Id}} class="header">{{.Summary}}</h4>
    </div>
    <div class="taskcontent">
      <pre>{{.Content}}</pre>
    </div>
    <div class="scheduled">
      <p id="scheduleddate">{{.Scheduled}}</p>
    </div>
    <form action="/edittask" method="post">
      <input type="hidden" value={{.Id}} name="taskid"/>
      <div class="taskinline">
        <input type="submit" value="Edit Task" class="btn btn-default"/>
      </div>
    </form>
  </div>
</div>
  {{end}}
</div>
{{end}}
