{{define "layout"}}
<!doctype HTML>
<head>
   <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
   <link href="/css/main.css" rel="stylesheet"/>
  <title>DAYS - {{.Pagetitle}}</title>
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-inner">
      <div class="container-fluid">
        <ul class="nav navbar-nav" id="navlinks">
          <li id="home">
            <a href="/">Tasks</a>
          </li>
          <li id="newtask">
            <a href="/newtask">New Task</a>
          </li>
          <li id="about">
            <a href="/about">About</a>
          </li>
        </ul>
        <div class="bannerheader">
        <ul class="nav navbar-nav navbar-right">
          <li class="active navbar-right">
            <p class="navbar-text"><strong>DAYS - Do All Your Stuff</strong></p>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </nav>
  <script src="/js/utilities.js"></script>
</body>
</html>
{{end}}
